# Ignore OpenFOAM time folders (1, 100, 1000, etc.)
/[1-9]*/

# Ignore parallel decomposition folders
/processor*/

# Ignore generated heavy mesh directories
/constant/polyMesh/

# Ignore heavy postProcessing field outputs (keep configs/logs if desired)
/postProcessing/

# Ignore temporary/log files
*.log
log.*
cell_*.obj
FOAM
*.foam
